body{
  max-width:1000px;
}

.modal{
}

.score {
  display: inline;
}
#dearCathy{
  width: 100%;
}
#orderForm, #bookingAppointments, #calculator, #surveyButton{
  margin-top: 100px;
}
#surveyButton{
  margin-left: 40%;

}
img{
 position: absolute;
 /*top: 230px;*/
 /*left: 45%;*/
 /*border-radius: 100%;*/
 text-align: center;
}
#cathy{
  border-radius: 100%;
  top: 230px;
  left: 45%;
}
#carrot{
  z-index: -1;
  left: 41%;
  top: 323px;
}
.jumbotron{
  margin-bottom: 170px
}
